<section>

    <div id="home-client">
        <div>
            <h2>Your order has been placed</h2>
        </div>  

    <div>
        <p>Order details: </p>

        {{#each order}}
    
            <div class="order-container grid grid-col-3-2">
                <div class="order-confirmation-img"> 
                    <img class="order-img-src" src = "/img/posters/src_img_{{id}}.jpg">
                </div>

                <div class="order-item">
                    <div>
                        <span class="key"> Order number: </span>
                        <span> {{id}} </span>
                    </div>

                    <div>
                        <span class="key"> Title: </span>
                        <span> {{title}} </span>
                    </div>

                    <div>
                        <span class="key"> Unit price: </span>
                        <span> {{price}} </span>
                    </div>
                    
                    <div>
                        <span class="key"> Quantity: </span>
                        <span> {{quantity}} </span>
                    </div>
                    
                    <div>
                        <span class="key"> Type: </span>
                        <span> {{orderType}} </span>
                    </div>
                </div>

                <div class="order-total">
                    <div class="sub-total">
                        <div class="key"> Total: </div>
                        <div> $ {{subTotal}} </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>        
</div>

</section>