
<section>
    <div id="form">
        <form id="fs-frm" name="loginForm" accept-charset="utf-8" action="/catalogue/add" method="POST"> 
            <fieldset id="fs-frm-inputs" class="form-control">

                <div class="form-control">
                    <div class="form-area">
                        <div id="form-top-message">
                            <h1>Add a product</h1>
                            <div class="success-fields">{{successMessage.mAddedMessage}}</div>
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="text" name="title" id="title" placeholder="Title">
                        </div>
                        <div class="error-fields">{{errorMessages.mTitle}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="gender" name="gender" id="gender" placeholder="Gender">
                        </div>
                        <div class="error-fields">{{errorMessages.mGender}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="year" name="year" id="year" placeholder="Year">
                        </div>
                        <div class="error-fields">{{errorMessages.mYear}}</div>

                        <div class="form-divs">
                            <select class="input input-size-2 datalist" type="category" name="category" id="category" placeholder="Category">
                                <option value="placeholder" disabled selected>Choose a category</option>
                                <option>Movie</option>
                                <option>Serie</option>
                            </select>
                        </div>
                        <div class="error-fields">{{errorMessages.mCategory}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="srcImg" name="srcImg" id="srcImg" placeholder="srcImg">
                        </div>
                        <div class="error-fields">{{errorMessages.mSrcImg}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="alt" name="alt" id="alt" placeholder="Alt: description for screen readers">
                        </div>
                        <div class="error-fields">{{errorMessages.mAlt}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="backImg" name="backImg" id="backImg" placeholder="Background Image">
                        </div>
                        <div class="error-fields">{{errorMessages.mBackImg}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="director" name="director" id="director" placeholder="Director">
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="creators" name="creators" id="creators" placeholder="Creators">
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="writers" name="writers" id="writers" placeholder="Writers">
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="stars" name="stars" id="stars" placeholder="Stars">
                        </div>
                        <div class="error-fields">{{errorMessages.mStars}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="rating" name="rating" id="rating" placeholder="Rating">
                        </div>
                        <div class="error-fields">{{errorMessages.mRating}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="description" name="description" id="description" placeholder="Description">
                        </div>
                        <div class="error-fields">{{errorMessages.mDescription}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="trailer" name="trailer" id="trailer" placeholder="Trailer: add a link">
                        </div>
                        <div class="error-fields">{{errorMessages.mTrailer}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="rentPrice" name="rentPrice" id="rentPrice" placeholder="Rent Price">
                        </div>
                        <div class="error-fields">{{errorMessages.mRentPrice}}</div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="purchasePrice" name="purchasePrice" id="purchasePrice" placeholder="Purchase Price">
                        </div>
                        <div class="error-fields">{{errorMessages.mPurchasePrice}}</div>
                        
                        <div class="form-divs">
                            <select class="input input-size-2 datalist" type="featured" name="featured" id="featured" placeholder="Featured">
                                <option value="placeholder" disabled selected>Select if featured</option>
                                <option>False</option>
                                <option>True</option>
                            </select>
                        </div>
                        <div class="error-fields">{{errorMessages.mFeatured}}</div>

                        <div class="form-divs">
                            <select class="input input-size-2 datalist" type="favorite" name="favorite" id="favorite" placeholder="Favorite">
                                <option value="placeholder" disabled selected>Select if favorite</option>
                                <option>False</option>
                                <option>True</option>
                            </select>
                        </div>
                        <div class="error-fields">{{errorMessages.mFavorite}}</div>

                        <div class="form-divs btns">
                            <a href= "/user/register">
                                <input id="btn-submit" class="btn btn-secondary" type="submit" value="Add Product">
                            </a>
                        </div>
                        <div class="error-fields">{{errorMessages.mFormErrors}}</div>
                    </div>
                </div>
                <input type="hidden" name="_subject" id="form-submit">
        </fieldset>
        </form>
    </div>        
</section>